@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

.borderMe {
  border: solid 1px red;
}
